@import '../../styles/vars.css';

.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.item {
  list-style: none;
}

.link {
  line-height: $header-height;
  color: #fff;
  text-decoration: none;
}
